<a href="https://colab.research.google.com/github/gottun510/pyspark/blob/master/%E9%87%8F%E5%AD%90%E3%82%A2%E3%83%8B%E3%83%BC%E3%83%AA%E3%83%B3%E3%82%B0%E3%81%A7%E3%82%B7%E3%83%95%E3%83%88%E8%A1%A8%E4%BD%9C%E6%88%90_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# データが空のシフト表を表示
empty_data = np.zeros((4,30))
get_calendar(empty_data)

      1(日)  2(月)  3(火)  4(水)  5(木)  ...  27(金)  28(土)  29(日)  30(月)  出勤日数
A        0     0     0     0     0  ...      0      0      0      0     0
B        0     0     0     0     0  ...      0      0      0      0     0
C        0     0     0     0     0  ...      0      0      0      0     0
D        0     0     0     0     0  ...      0      0      0      0     0
出勤者数     0     0     0     0     0  ...      0      0      0      0     0

[5 rows x 31 columns]